<section>
  <div class="max-w-6xl px-5 mx-auto mt-15 text-center">
    <h2 class="text-4xl font-bold text-center md:text-white">
      Trusted By Awesome <span class="text-orange-300">Clients</span>
    </h2>
    <div class="flex flex-wrap text-center justify-center mt-16 md:flex-row md:space-x-1">
      <div class="flex items-center md:w-1/6">
        <%= image_tag('binance.svg', :class=>"pr-1 text-white w-10 l-10") %>
        <span class="text-2xl md:text-white">Binance</span>
      </div>
      <div class="flex items-center md:w-1/6">
        <%= image_tag('layer_x0020_1.svg', :class=>"pr-1 text-white w-10 l-10") %>
        <span class="text-2xl md:text-white">Bitcoin</span>
      </div>
      <div class="flex items-center md:w-1/6">
        <%= image_tag('solana-sol-logo.svg', :class=>"pr-1 text-white w-10 l-10") %>
        <span class="text-2xl md:text-white">Solana</span>
      </div>
      <div class="flex items-center md:w-1/6">
        <%= image_tag('ethereum.svg', :class=>"pr-1 text-white w-10 l-10") %>
        <span class="text-2xl md:text-white">Ethereum</span>
      </div>
      <div class="flex items-center md:w-1/6">
        <%= image_tag('tether-usdt-logo.svg', :class=>"pr-1 text-white w-10 l-10") %>
        <span class="text-2xl md:text-white">Tether</span>
      </div>
      <div class="flex items-center md:w-1/6">
        <%= image_tag('layer_2.svg', :class=>"pr-1 text-white w-10 l-10") %>
        <span class="text-2xl md:text-white">XRP</span>
      </div>
    </div>
  </div>
</section>
